body{
	margin: auto;
	width: 1440px;
	background-color:rgba(234, 234, 234, 1);
}


.common-button{
	width: 105px;
	height: 28px;
	border: 1px solid #c2c2c2;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: black;
	background-color: white;
}

.common-button:hover{
	font-size: 11.5px;
	transition: font-size 0.1s;
}

.common-button:active{
	font-size: 11px;
	color: #555555;
}

.logo{
	text-align: center;
	margin-top: 250px;
	padding-bottom: 119px;
}

.wrapper{
	display: flex;
	flex-direction: column;
	width: 1121px;
	background-color: rgba(234, 234, 234, 1);
	padding-left: 151px;    
}   

.main_block{
	background: rgba(248, 248, 248, 1);
	height: 124px;
	margin-bottom: 71px;
	box-shadow: 0 0 30px rgba(213, 213, 213, 1);
}

.background_for_bananas{
	background-color: rgba(239, 238, 238, 1);
	height: 440px;
	box-shadow: 0 0 30px rgba(213, 213, 213, 1);
	padding-left: 91px;
	

	border-left: 2px;
	border-right: 9px;
	border-top: 6px;
	border-bottom: 4px;
}

.background_for_bananas a img{
    padding-top: 51px;
}

.background_for_bananas h1{
	margin-top: 22px;
	color: rgba(146, 16, 38, 1);
	font-size: 32px;
	font-weight: lighter;
	font-family: 'Playfair Display', serif;
	font-size: 25px;
}

.background_for_bananas p {
	font-family: 'Josefin Sans', serif;
	width: 320px;	
	margin-top: 24px;
	margin-left: 1px;
	font-size: 15.2px;
	line-height: 1.25;
	font-weight:300;
	margin-bottom: 0px;
}


.background_for_bananas #dots-under-photo{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 0px;
	padding-top: 25px;
	width: 77px;
	padding-left: 936px;
}

.recipe-preview-parent {
	margin: auto;
	margin-top: 84px;

	height: 373px;
	color: #000;
	background-color: #FFF;
	display: flex;
	align-items: flex-start;
	justify-content: center;  
	margin-bottom: 87px;
	padding: 0 22px 0px 32px;
}

/* 
    recipe-preview styles 
*/

.recipe-preview {
	padding-top: 18px;
	display: inline-block;
	width: 314px;
	margin: 21px;
}

.recipe-preview:hover > .recipe-preview-text-title{
	color: rgb(0, 0, 0);
	background-color: rgb(236, 236, 236);
	border: 2px solid #FFF;
}
.recipe-preview-image img {
	max-height: 209px;
	transition: transform .2s ease-out;
}

.recipe-preview-image:hover {
    transform: scale(1.01);
}

.recipe-preview-text-title {
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	transition: 0.3s linear;
	border: 2px solid #FFF;
	padding-top: 10px;
	padding-left: -1px;
	letter-spacing: -0.025em;
	line-height: 1.2;
	border-radius: 10px;
}

.recipe-preview-text-info {
	font-size: 12px !important;
	font-family: 'Open Sans', sans-serif;
	font-weight: lighter !important;
	font-style: normal;
	transition: 0.3s linear;
	border: 2px solid #FFF;
	border-radius: 10px;
	padding-top: 4px;
	letter-spacing: -0.025em;
}

.recipe-preview-text-info:hover{
	color: rgb(0, 0, 0);
	background-color: rgb(243, 243, 243);
	border: 2px solid #FFF;
}


/*
	div recipe
*/

.div-recipe{
	width: 1120px;
	height: 438px;
	
	display: flex;    
	background-color: #ffffff;
}

.div-recipe img{
	width: 520px;
}

.div-recipe-photo-icon{
	position: absolute;
	background-color: rgba(0,0,0, 0.5);
	margin-left: 450px;
	color: #FFFFFF;
	font-size: 26px;
	height: 60px;
	width: 50px;
	text-align: center;
}


.div-recipe-text{
	width: 600px;
	margin-left: 36px;
	margin-top: 29px;
}

.div-recipe-photo-icon i{
	padding-top: 19px;
}

#recipe-text-title{
	font-family: 'Playfair Display', serif;
	font-size: 32px;
	font-weight: 900;
	color: #055555;
	letter-spacing: 0.025em;
}

.div-recipe-text-icons{
	display: inline-block;
	font-family: 'Open Sans', sans-serif;
	color: #555555;
	margin-top: 15px;
	font-size: 16px;
	font-weight: 300;
}

.div-recipe-text-icons dlya-casualov{
	font-size: 18px;
	font-family: 'Josefin Sans', sans-serif;
}

.div-recipe-text-icons .fa-signal{
	font-size: 24px;
}

.div-recipe-text-icons button{
	margin-left: 235px;
}

.div-recipe-text #recipe-text{
	margin-top: 21px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 16px;
	margin-right: 50px;
	overflow-y: scroll;
	height: 265px;
	letter-spacing: 0.025em;
	line-height: 1.2;
}

.div-recipe-text #recipe-text #top-text{
	margin-top: 10px;
}

.div-recipe-text #recipe-text span{
	font-family: 'Playfair Display', serif;
	font-weight: 700;
}

div#recipe-text::-webkit-scrollbar-thumb {
    background: #555555;
	height: 20px;
	padding-left: 20px;
	border-radius: 50%;
}

div#recipe-text::-webkit-scrollbar {
    width: 2px;
    background-color: rgb(0, 0, 0, 0.2);
}


/* 404 and author divs */

.div-404-author {
	margin-top: 140px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;

}

.div-child-404-author {
	margin-left: 2px;
	width: 518px;
	height: 518px;
	background-color: white;
}


.div-404{
	background-image:url(../Photo/404.png);
}

.div-child-404-author #block-title{
	display: inline-block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;

	margin-left: 33px;
	padding-left: 11px;
	padding-bottom: 5px;
	margin-top: 25px;
	width: 440px;
	border-bottom: solid rgba(85,85,85,0.2) 2px;
}

/* 404 ERROR DIV*/


.div-404 #error-sorry{
	display: block;
	margin-left: 225px;
	padding-top: 160px;
	
	font-family: 'Josefin Sans', sans-serif;
	font-size: 34px;
	line-height: 1.2;
	font-weight: 700;
}

.div-404 #error-description{
	display: block;
	margin-left: 200px;
	width: 135px;

	font-family: 'Playfair Display', serif;
	font-size: 16px;
	line-height: 1.2;
	font-weight: 900;
	color: #a9a9a9;
	text-align: center;
}


.div-404 #smile{
	font-size: 33px;
	font-family: 'Playfair Display', serif;
	font-weight: 900;
	color: #a9a9a9;

	margin-left: 250px;
	transform: rotate(75deg) translate(90px, 110px);
}

.div-404 #smile span{
	font-weight: 400;
}


.div-404-button{
	margin-left: 210px;
	margin-top: 95px;
	text-align: center;
}

/*
	author
*/

.author-main-block{
	display: flex;
}

.author-main-block #face-img{
	border-radius: 50%;
	width: 130px;
	height: 130px;
	margin-left: 30px;    
}

.div-content-author{
	margin-left: 20px;
}

.author-main-block #text{
	width: 290px;
	padding-left: 19px;
}

.author-main-block{
    padding-top: 39px;
	letter-spacing: -0.025em;
}

.author-main-block #name {
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: -0.05em;
}

.author-main-block #country{
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 2px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	font-weight: 300;
}

.author-main-block #icons{
	margin-top: 7px;
	display: block;
	border-bottom: solid rgba(85,85,85,0.2) 2px;
	padding-bottom: 18px;
}

.author-main-block #icons a{
    font-size: 16px;
    color: rgb(85,85,85, 0.33);
	transition: 0.2s;
}

.author-main-block #icons a:hover{
	color:rgba(146, 16, 38, 1);
}

.div-content-author #title, .div-content-author p{
	letter-spacing: -0.025em;
	margin-left: 3px;
    font-family: 'Josefin Sans', sans-serif;
}

.div-content-author #title {
	display: block;
	margin-top: 20px;
	font-size: 20px;
	font-style: italic;
	font-weight: 700;
}

.div-content-author p{
	line-height: 1.2;
	font-size: 14px;
	font-weight: 200;
	font-style: italic;
	padding-left: 0px;
	width: 290px;
	margin-top: 25px;
}

.author-signature{
	width: 160px;
	height: 60px;
	margin-top: 25px;
	margin-left: 135px;
}

/*end*/

/*
small divs
*/

.small-divs{
	display: flex;
	flex-direction: row;
	margin-top: 78px;
	margin-left: 50px;
}

.left-small-divs{
	width: 290px;
	margin-right: 96px;
}

.middle-small-divs{
	width: 290px;
	margin-right: 58px;
}

.right-small-divs{
	width: 290px;
}


/* Chi-Chi*/
.chi-chi-div {
	width: 289px;
	height: 349px;
	background-color: white;
	margin-bottom: 48px;
}


.chi-chi-div #header {
	display: block;
	padding-top: 22px;
	padding-left: 30px;
	padding-bottom: 10px;
	margin-left: 16px;

	font-family: 'Playfair Display', serif;
	font-size: 22px;
	font-weight: 900;
	color: #055555;
	letter-spacing: 0.025em;

	width: 220px;
	border-bottom: solid rgba(85,85,85,0.2) 2px;
}


.chi-chi-div #content{
	margin-top: 9px;
	margin-left: 23px;
	display: flex;
	flex-direction: row;
}

.chi-chi-div #face-img{
	width: 58px;
	height: 58px;
	border-radius: 50%;
}

.chi-chi-div #text{
	padding-top: 8px;
	padding-left: 19px;
	
}


.chi-chi-div #text #author, .chi-chi-div #text #author-name {
	display: block;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 15px;
	font-weight: 300;
	line-height: 1.2;
}

.chi-chi-div #text #author-name{
	font-weight: 700;
}

.chi-chi-div #icons{
	font-size: 12px;
	font-weight: 400;
	color: #555555;
	font-family: 'Open Sans', sans-serif;
}
.chi-chi-div #icons span{
	font-weight: 300;
}
.chi-chi-div #slash{
	color: black;
	font-size: 14px;
}

.chi-chi-div #bottom-img{
	margin-top: 10px;
	width: 289px;
	height: 204px;
	background-color: white;
}

.chi-chi-div #dots-under-photo{
	position: absolute;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	width: 65px;
	margin-top: -25px;
	margin-left: 110px;
}

.photo-circle{
	margin: auto;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background-color: white;
}

.photo-circle-gray{
	background-color: #555555;
}

.photo-circle:hover{
	width: 12px;
	height: 12px;
	transition: 0.2s;
}

.photo-circle:active{
	background-color: #555555;
}

/* Target */

.left-small-divs .presentation_line{
	margin: 0px;
	width: 290px;
	height: 471px;
	background-color: white;
}

.presentation_line #head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 16px;
	padding-right: 33px;
	padding-top: 35px;
	height: 19px;
	width: 250px;
} 

.presentation_line #head #title{
	font-size: 20px;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
	font-style: italic;
}

.presentation_line #head #icons{
	display: flex;
	justify-content: space-around;
	align-content: space-around;
	flex-wrap: wrap;
	margin-top: 5px;
}

.presentation_line #head #icons a{
	font-size: 15px;
	color: #555555;
	display:inline-block;
	padding: 0px;
}
.presentation_line #head #icons .fa-facebook-f{
	font-size: 14px;
}

.presentation_line #upper-line-hr{
	background-color: #555555;
	width: 251px;
	border: none;
	height: 2px;
	margin-top: 10px;
	margin-left: 17px;
	margin-bottom: 0px;
	opacity: 0.2;
}

.presentation_line_header .title_pre_line{
	margin-right: 80px;
}

.presentation_line_header i{
	margin-right: 6px;
}

.presentation_line_header hr{
	width: 252px;
	height: 2px;
	background-color: #555555;
	opacity: 0.2;
	border: none;
	margin-left: 0px;
	margin-top: 10px;
}

.presentation_line_title p{
	margin-top: 14px;
}

.presentation_line_title p b{
	margin-left: 29px;
	font-family: 'Playfair Display', serif;
	font-size: 21px;
	font-weight: 168px;
	color: #055555;
	margin-bottom: 0px;
}

.presentation_line #pre_lin_content{
	padding-top: 18px;
	padding-left: 3px;
}

.presentation_line #content-diagrams{
	display: flex;
	flex-direction: row;
	padding-left: 20px;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: -0.025em;
}

.presentation_line .content-diagram2{
	padding-top: 44px;
}

.presentation_line .content-diagram3{
	padding-top: 44px;
}

.presentation_line #image {
	position: relative;
}

.presentation_line #image span{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: lighter;
	padding-top: 5px;
	letter-spacing: 0.025em;
}

.presentation_line #image .procent1{
	position: absolute;
	left: 14px;
	top: 14px;
}

.presentation_line #image .procent2{
	position: absolute;
	left: 12px;
	top: 14px;
}

.presentation_line #image .procent3{
	position: absolute;
	left: 10px;
	top: 8px;
}

.presentation_line #content-diagrams #text{
	padding-left: 25px;
	padding-top: 2px;
}

.presentation_line #pre_lin_content #content-diagrams #text p{
	margin: 0 0 0 0;
}

.presentation_line #pre_lin_content #content-diagrams #title{
	font-weight: 400;
	font-size: 17px;
}

.presentation_line #pre_lin_content #content-diagrams #topic-text{
	padding-top: 5px;
	font-size: 14px;
	font-style: italic;
	font-weight: lighter;
	line-height: 16px;
	width: 140px;
}			

.first_diagram #image{
	position: relative;
}

#content-diagrams .red_diagram{
	position: absolute;
	top: 4.2px;
	left: 30px;
}

#content-diagrams .green_diagram{
	position: absolute;
	top: 0px;
	left: 7px;
}

#content-diagrams .light_green_diagram{
	position: absolute;
	top: 22px;
	left: 0px;
}

#content-diagrams .third_circle{
	margin-top: -8px;
}



/*Recipe*/

.recipe-mini-div{
	height: 427px;
	width: 290px;
	background-color: white;
}

.recipe-mini-div #head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 250px;
	padding-left: 15px;
	padding-right: 23px;
	padding-top: 27px;
} 

.recipe-mini-div #head #title{
	font-size: 20px;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
	font-style: italic;

}
.recipe-mini-div #head #icons{
	padding-top: 5px;
}

.recipe-mini-div #head #icons a{
	font-size: 16px;
	color: #555555;
	font-weight: 400;
}

#head #icons a{
	transition: .2s;
}

#head #icons a:hover{
	color:rgba(146, 16, 38, 1);
}

.recipe-mini-div #head #icons .fa-facebook-f{
	font-size: 14.3px;
}

.recipe-mini-div #upper-line-hr{
	background-color: #555555;
	width: 251px;
	border: none;
	height: 2px;
	margin-top: 4px;
	margin-left: 17px;
	margin-bottom: 0px;
	opacity: 0.2;
}

.recipe-mini-div #level-title{
	height: 12px;
	padding-top: 15px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 50px;
	padding-right: 69px;

	font-family: 'Josefin Sans', sans-serif;	
	font-size: 12px;
	font-weight: 300;
	color: black;
	opacity: 0.8;
	letter-spacing: -0.025em;
}

.recipe-mini-div #level-title span{
	font-weight: 700;
}

.recipe-mini-div #level-title div:hover{
	font-weight: 700;
	text-decoration: underline;
}

.recipe-mini-div #content{
	padding-top: 28px;
}

.recipe-mini-div #content-block{
	display: flex;
	flex-direction: row;
	padding-left: 19px;
	font-family: 'Josefin Sans', sans-serif;
	letter-spacing: -0.025em;

}

.recipe-mini-div .content-block2{
	padding-top: 34px;
}

.recipe-mini-div .content-block3{
	padding-top: 39px;
}

.recipe-mini-div #content-block #text{
	padding-left: 15px;
}

.recipe-mini-div #content-block #text p{
	margin: 0 0 0 0;
}

.recipe-mini-div #content-block #author{
	font-size: 12px;
	font-weight: 300;
}

.recipe-mini-div #content-block #author span{
	font-weight: 700;
}

.recipe-mini-div #content-block #author-text{
	padding-top: 7px;
	font-size: 16px;
	font-weight: 600;
	line-height: 16px;
	width: 180px;
	letter-spacing: -0.04em;
}

.recipe-mini-div #bottom{
	margin-top: 29px;
	margin-left: 164px;
}

/*TAGS*/

.middle-small-divs{
	width: 290px;
}

.middle-small-divs-tags{
	margin-top: 47px;
	width: 290px;
	height: 160px;
	background-color: white;
	font-family: 'Josefin Sans', sans-serif;	
}

.tags_header{
	padding-top: 26px;
	padding-left: 15px;
	font-size: 20px;
	font-style: italic;
	font-weight: lighter;
	margin-bottom: 10px;
}

.tags_header #line{
	width: 252px;
	height: 2px;
	background-color: #555555;
	opacity: 0.2;
	border: none;
	margin-left: 0px;
	margin-top: 5px;
}


.middle-small-divs-tags a{
	display: flex;
	justify-content: space-between;
	width: 237px;
	padding-left: 22px;
	font-size: 12px;
	font-weight: 300;
	line-height: 2;
}

.middle-small-divs-tags .last_line_tags{
	width: 200px;
}

.middle-small-divs-tags a{
	color: black;
	text-decoration: none;
}


/*Calendar*/

.div-calendar{
	width: 290px;
	margin-top: 47px;
	background-color: white;
	height: 367px;
}


.div-calendar-title{
	margin-left: 15px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 20px;
	font-weight: 400;
	font-style: italic;
	letter-spacing: -0.025em;
}

.div-calendar-title p {
	padding-top: 28px;
	margin-bottom: 6px;
	margin-top: 0px;
}

.div-calendar-title hr{
	width: 252px;
	height: 2px;
	background-color: #555555;
	opacity: 0.2;
	border: none;
	margin-left: 1px;
	margin-top: 0px;
}

.div-calendar-month{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 30px;
	margin-right: 33px;
	margin-top: 22px;
}

.div-calendar-month #calendar-angle{
	height: 15px;
	width: 10px;
	font-size: 14px;
	font-weight: 400;
	color: #555555;
}

.div-calendar-month #calendar-month{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	height: 18px;
	margin-left: -10px;
}


.div-calendar-table{
	margin-left: 17px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	width: 222px;
	margin-top: 6px;
}

.div-calendar-table table{
	border-spacing: 15px 22px;
}

.div-calendar-table #calendar-months-table{
	text-decoration: underline;
	margin-bottom: 22px;
}

.div-calendar-table #past-month{
	color: #9e9e9e;
	opacity: 0.62;
}

.div-calendar-month #calendar-angle:hover{
	font-size: 17px;
}

.div-calendar-month #calendar-angle:active{
	font-size: 15px;
}

.div-calendar-month #calendar-month:hover{
	color: purple;
	text-decoration: underline;
}

.div-calendar-month #calendar-month:active{
	font-size: 17px;
	color:red;
}

.div-calendar-table td:hover{
	color:rebeccapurple;
}

.div-calendar-table td:active{
	text-decoration: underline;
}

/*
	Popular now small div
*/

.popular-now-small-div{
	width: 290px;
	height: 349px;
	background-color: #988f8f;
}

.popular-now-small-div #title{
	padding-left: 17px;
}

.popular-now-small-div #title p{
	font-family: 'Playfair Display', serif;
	font-size: 32px;
	font-weight: 900;
	color: #921026;
	padding-top: 19px;
	margin-top: 0px;
	letter-spacing: 0.025em;
}

.popular-now-small-div #title hr{
	width: 251px;
	border: none;
	height: 2px;
	background-color: #ffffff;	
	margin-left: 0px;
	margin-top: 8px;
	margin-bottom: 24px;
}

.popular-now-small-div #content{
	padding-left: 16px;
	font-family: 'Josefin Sans', sans-serif;
}

.popular-now-small-div #content span{
	letter-spacing: -0.05em;
	font-size: 22px;
	font-weight: 700;
	color: black;
}

.popular-now-small-div #content p{
	font-size: 16px;
	font-weight: 400;
	color: #222222;
	font-style: italic;
	margin-top: 10px;
	width: 250px;
	margin-bottom: 15px;
	letter-spacing: -0.01em;
	line-height: 1.2;
}

.popular-now-small-div #bottom{
	padding-left: 18px;
}

.popular-now-small-div #bottom button{
	width: 105px;
	height: 28px;
	border: 1px solid #c2c2c2;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12px;
	font-weight: 300;
	color: black;
	margin-right: 3px;
}

.popular-now-small-div #bottom #slash{
	width: 1px;
	height: 14px;
	color: black;
	font-size: 14px;
}

.popular-now-small-div #bottom span{
	font-size: 12px;
	font-family: 'Open Sans', sans-serif;
	color: #555555;
	font-weight: 400;
}

.popular-now-small-div #bottom #mins{
	font-weight: 300;
}


.popular-now-small-div #bottom button:hover{
	font-size: 11.5px;
	transition: font-size 0.1s;
}

.popular-now-small-div #bottom button:active{
	font-size: 11px;
	color: #555555;
}


/*
	Timeline small div
*/
.timeline-small-div{
	margin-top: 48px;
	width: 290px;
	height: 430px;
	background-color: white;

}

.timeline-small-div #head{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-left: 17px;
	padding-right: 33px;
	padding-top: 38px;
} 

.timeline-small-div #head #title{
	font-size: 20px;
	font-weight: 400;
	font-family: 'Josefin Sans', sans-serif;
	font-style: italic;
	letter-spacing: -0.025em;

}

.timeline-small-div #head #icons a{
	font-size: 16px;
	color: #555555;
	font-weight: 400;
}
.timeline-small-div #head #icons .fa-facebook-f{
	font-size: 14.3px;
}

.timeline-small-div #upper-line-hr{
	background-color: #555555;
	width: 251px;
	border: none;
	height: 2px;
	margin-top: 8px;
	margin-left: 16px;
	margin-bottom: 0px;
	opacity: 0.2;
}

.timeline-small-div #title-colomns{
	font-family: 'Playfair Display', serif;
	font-size: 20px;
	font-weight: 900;
	color: #055555;
	margin-left: 29px;
	margin-top: 13px;
	margin-bottom: 0px;
	letter-spacing: 0.025em;
}

.timeline-small-div #colomns{
	height: 154px;
	padding-top: 48px;
	width: 200px;

	transform-origin: 100px 100px;

	transform: translate(100px,100px);
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	
}

.timeline-small-div #colomns-part{
	padding-bottom: 53.5px;
}

.timeline-small-div #level-name{
	opacity: 0.8;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	font-weight: 300;
	text-transform: uppercase;
	color:#555555;
	height: 15px;
	letter-spacing: 0.025em;
}

.timeline-small-div #level-name span{
	position: absolute;
}

.timeline-small-div #colomn-line{
	display: flex;
	flex-direction: row;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: #555555;
	letter-spacing: 0.025em;
}

.timeline-small-div #easy-colomn{
	margin-right: 4px;
	margin-top: 6px;
	width: 68px;
	height: 9px;
	background-color: #87d0c5;
}

.timeline-small-div #middle-colomn{
	margin-right: 5px;
	margin-top: 5px;
	width: 99px;
	height: 9px;
	background-color: #0d5959;
}

.timeline-small-div #long-colomn{
	margin-right: 4px;
	margin-top: 3.5px;
	height: 9px;
	width: 131px;
	background-color: #b50051;
}

.bottom-timeline-div{
	margin-left: 50px;
	width: 203px;
}

.bottom-timeline-div hr{
	margin-top: 15px;
	border: none;
	height: 2px;
	background-color: #555555;
	opacity: 0.2;
}

.bottom-timeline-div p{
	line-height: 1.3;
	margin-top: 12px;
	margin-left: -1px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	font-size: 15px;
	color: #6a6a6a;
}

/* 
    Authentication

*/

.div-authentication{
	width: 743px;
	margin-left: 189px;
	margin-top: 102px;
	display: flex;
	justify-content: space-between;
}

.div-authentication-form{
    width: 328px;
	background-color: #FFF;
	padding-bottom: 20px;
	height: 515px;
}

#login{
	max-height: 387px;
}

.div-authentication-form #title{
	padding-left: 11px;
	margin-top: 19px;
	margin-bottom: 0;
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	padding-left: 25px;
	padding-right: 32px;
}

.div-authentication-form hr{
	background-color: #dddddd;
	border: none;
	height: 2px;
	margin-top: 7px;
	margin-bottom: 0px;
}

.div-authentication-form #title p{
	font-size: 20px;
	font-weight: 400;
	padding-left: 5px;
	margin-top: 19px;
	margin-bottom: 0;
}

.div-authentication-form-description{
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	padding-left: 29px;
	margin-top: 30px;
	margin-bottom: 22px;
	letter-spacing: -0.025em;
}

.div-authentication-form-input{
	width: 241px;
	margin-bottom: 20px;
	margin-left: 32px;
	padding: 10px;
	border: 2px solid #ccc;
	outline: none;
	transition: 0.5s;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
	box-shadow: inset 2px 2px 2px #ccc, inset -1px -1px 5px #ccc;
}

.div-register-form-input{
	margin-bottom: 15px;
}

.div-authentication-form-input:focus{
	border: 2px solid rgb(110, 110, 110);
	box-shadow: inset 2px 2px 2px rgb(110, 110, 110), inset -1px -1px 5px rgb(110, 110, 110);
}

.div-authentication-form-checkbox{
	display: block;
	position: relative;
	padding-left: 18px;
	margin-bottom: 12px;
	margin-left: 28px;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.div-authentication-form-checkbox input{
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.div-authentication-form-checkbox-custom{
	width: 8px;
	height: 8px;
	border: 2.5px solid #ccc;
	border-radius: 3px;
	background-color: #ffffff;
	position: absolute;
	top: 0;
	left: 0;
	transition: 0.1s;
}

.div-authentication-form-checkbox:hover input ~ .div-authentication-form-checkbox-custom{
	background-color: #ccc;
}

.div-authentication-form-checkbox input:checked ~ .div-authentication-form-checkbox-custom{
	background-color: rgb(100, 100, 100);
}


.div-authentication-form-checkbox input:checked ~ .div-authentication-form-checkbox-custom:after {
	display: block;
}

.div-authentication-form-checkbox-text{
	font-size: 12px;
	font-family: 'Josefin Sans', sans-serif;
	font-style: italic;
	font-weight: 300;
}

.div-authentication-form-checkbox-forgot{
	margin-right: 35px;
	transition: 0.2s;
	text-decoration: none;
	color: rgb(77, 77, 77);
}

.div-authentication-form-checkbox-forgot:hover{
	color: rgb(161, 161, 161);
	outline: #000;
}

.div-authentication-form-checkbox-parent{
	display: flex;
	justify-content: space-between;
}

.div-authentication-form-bottom{
	display: flex;
	align-items: center;
	flex-direction: column;
	margin: 20px 0px 0px 0px;
}

.div-authentication-button{
	margin-top: -5px;
}

.div-authentication-button:hover{
	background-color: rgb(77, 77, 77);
	color: #FFF;
	font-size: 14px;
}

.div-authentication-socials{
	margin: 20px 0 20px 0;
}

.div-authentication-socials a{
    font-size: 22px;
    color: rgb(77, 77, 77);
}

.div-authentication-socials .fa-facebook-f{
	font-size: 22px;
}

.div-authentication-socials a:hover{
	color:rgba(146, 16, 38, 1);
}

.div-authentication-donthave{
	margin-right: 5px;
	font-size: 16px;
	letter-spacing: -0.025em;
}

.div-authentication-tos{
	line-height: 1.2;
	font-size: 14px;
	padding-left: 35px;
	padding-top: 3px;
	padding-bottom: 8px;
}

.div-authentication-log-alternate{
	flex: none;
	text-align: left;
	width: 100%;
	margin: 20px 0 0 8px;
	padding-left: 29px;
	padding-bottom: 40px;
	text-decoration: none;
	font-style: normal;
	color: rgb(77, 77, 77);
}


/* 
	COMMENTS BLOCK
*/

.div-comments{
	margin-left: 131px;
	width: 838px;
	height: 761px;
	background-color: #FFF;
	margin-top: 47px;
}

.div-comments-title #title{
	font-style: italic;
	font-family: 'Josefin Sans', sans-serif;
	padding-left: 38px;
	padding-right: 54px;
}

.div-comments hr{
	background-color: #dddddd;
	border: none;
	height: 2px;
	margin-top: 20px;
	margin-bottom: 0px;
}



.div-comments-comment hr{
	margin-top: 10px;
	margin-left: 4px;	
}

.first-comment hr{
	margin-top: 0px;
	margin-left: -8px;
	margin-bottom: 29px;
}


#title p{
	font-size: 24px;
	font-weight: 700;
	margin-top: 20px;
	margin-bottom: 0;
}

.div-comments-block{
	padding-top: 13px;
	padding-left: 51px;
	padding-right: 54px;
	padding-bottom: 50px;
}

.div-comments-panel{
	margin-top: 19px;
	display: flex;
}

.div-comments-panel > img{
	width: 55px;
	height: 55px;
	border-radius: 50%;
}

.recipe-preview-image .sticker-img{
	position: absolute;
	float: left;
	left: 250px;
	top: 9px;
	padding-top: 11px;
	padding-left: 13px;
	font-size: 30px;
	font-weight: 400;
	color: #555555;
	background-color: white;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.div-comments-panel > div{
	display: flex;
	padding-left: 23px;
	width: 100%;
	justify-content: space-between;
}

.div-comments-text-postby{
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
}

.div-comments-name{
	display: inline-block;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 700;
	letter-spacing: -0.05em;
}

.div-comments-reply-button{
	color: #629494;
	font-size: 12px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 800;
	letter-spacing: -0.025em;
	transition: 0.2s;
	margin-left: 4px;
	padding-top: 10px;
}

.div-comments-reply-button:hover{
	color: #a1f6f6;
}

.div-comments-date:hover{
	color: #629494;
}

.div-comments-shares{
	margin-left: 15px;
	display: inline-block;
	font-size: 12px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	transition: 0.3s;
}

.div-comments-shares:hover{
	color: #a1f6f6;
}


.div-comments-text{
	margin-top: 15px;
	padding-left: 75px;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 300;
	letter-spacing: -0.031em;
}

.div-comments-text-more{
	margin-top: 25px;
	opacity: 0.54;
	letter-spacing: -0.025em;
	font-weight: 300;
	margin-left: 208px;
	margin-bottom: 16px;
}

.div-comments-text-more a{
	color:black;
	text-decoration: none;
}

.div-comments-text-more a:hover{
	color: brown;
}


.div-comments-text .recipe-preview-image{
	margin-bottom: 10px;
	position: relative;
}

.div-comments-text .recipe-preview-image:hover{
	transform: none;
}

.div-comments-reply{
	padding-top: 14px;
	padding-left: 70px;
}

.div-comments-reply .div-comments-text{
	font-weight: 400;
}
   

/*
	POST COMMENTS
*/	

.div-post-comments{
	margin-top: 125px;
	margin-left: 0px;
	margin-left: 131px;
	justify-content: space-around;
}

.div-comments-post{
	height: 187px;
	background-color: white;
	width: 838px;
}

.div-comments-post h1{
	padding-top:  24px;
	padding-left: 39px;
	margin: 0px;
	font-size: 23px;
	font-family: 'Josefin Sans', sans-serif;
	font-style: italic;
	margin-bottom: 0px;
}

.div-comments-post p{
	margin-top: -11px;
	margin-bottom: 0px;
	padding-left: 600px;
	letter-spacing: 0.025em;
	font-size: 16px;
	font-family: 'Josefin Sans', sans-serif;
	font-style: italic;
	text-decoration: none;
}

.div-comments-post p a{
	text-decoration: none;
	color: #666;
	margin-right: 12px;
	margin-left: 1px;
	margin-bottom: 0px;
}

.div-comments-post .form_for_comment{
	margin-top: 14px;
	width: 754px;
	height: 90px;
	background-color: rgb(246,246,246, 1);
	padding-top: 0px;
	margin-left: 40px;
}

.div-comments-post .form_for_comment form img{
	padding-left: 18px;
	padding-right: 66px;
}

.form_for_comment form {
	padding-top: 13px;
	margin: 0px;
	display: flex;
}
	
.form_for_comment form{
	vertical-align:middle;
}
  
.form_for_comment form .form_for_comment form{
	margin-top: 11px;
}

.form_for_comment input[type="text"] {
	background: white;
	border: #dfdfdf 1px solid;
	margin:0;
	margin-right: 4px;
	padding:0;
	margin-top: 11px;
	display:inline-block;
	width: 495px;
	height: 37px;
	transition: 0.3s;
}
  
.form_for_comment input[type="submit"] {
	background: rgb(56, 56, 56, 1);
	color: #ffffff;
	text-transform: uppercase;
	font-size: 16px;
	
	font-family: 'Josefin Sans', sans-serif;
	font-weight: lighter;
	border: black 1px solid;
	height: 39px;
	width: 85px;
	margin:0;
	padding:0;
	margin-top: 11px;
	display:inline-block;

	transition: .8s;
    background-repeat: no-repeat;
    background-position: bottom;
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
	background-image: linear-gradient(0, white, white);
    background-size: 0;
}

.form_for_comment input[type="submit"]:hover{
	background-size: 100%;
    color: black;

}	


.page-selection{
	width: 838px;
	height: 92px;
	background-color: white;
	margin-top: 44px;
	margin-left: 133px;
}


.page-selection #flex-selection{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-right: 285px;
	margin-left: 270px;
	margin-top: 40px;
}

.page-selection a{
	font-family: 'Josefin Sans', sans-serif;
	font-size: 18px;
	line-height: 1.2;
	font-weight: 300;
	color: black;
	text-decoration: none;
}

.page-selection #current-number a{
	color: #629494;
}

.page-selection a:hover{
	font-weight: 500;
	text-decoration: underline;
}


footer{
	margin-top: 150px;
	width: 1120px;
	height: 180px;
	opacity: 0.8;
	background-color: black;
	box-shadow: 0px 3px 7px 0px rgba(11,12,12,0.14);
}

footer #main-string{
	margin-top: 72px;
	margin-left: 86px;
	display: flex;
	flex-direction: row;
	height: 36px;

	opacity: 0.5;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 12px;
	line-height: 1.2;
	font-weight: 300;
	color: #fefefe;
}


footer #main-string a{
	color: #fefefe;
	text-decoration: none;	
}

footer #main-string a:hover{
	color: rgba(255, 255, 255, 0.5);

}

footer .hrefs {
	margin-left: 112px;
	margin-top: 12px;
}

footer .copyrights{
	letter-spacing: 0.025em;
	margin-top: 12px;
	margin-left: 128px;
}

footer .hrefs a+a{
	margin-left: 12px;
}

footer #icons{
	margin-top: 2px;
	margin-left: 968px;
}

footer #icons a{
	color: #555555;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.2;
}

footer #icons a:hover{
	font-weight: 800;
	color: white;
}

.fa-facebook-f{
	font-size: 14px;
}

header{
	margin-top: 50px;
	margin-bottom: 86px;
	width: 1121px;
	height: 123px;
	background-color: rgba(248, 248, 248, 1);
	color: #000;
	box-shadow: 0 0 30px rgba(213, 213, 213, 1);
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.header-content{
	display: flex;
	height: 36px;
	font-family: 'Josefin Sans', sans-serif;
	font-size: 16px;
	line-height: 1.2;
	width: 100%;
	font-weight: 300;
}

.header-content a{
	text-decoration: none;	
}

.header-content img{
	margin-left: 95px;
	width: 88px;
	height: 36px;
}

.header-hrefs {
	display: flex;
	align-items: center;
	width: 100%;
	padding-left: 90px;
	padding-top: 9px;
}

.header-link{
	color: #000;
	text-decoration: none;
	position: relative;
	display: inline-block;
	transition: 0.3s;
	padding-right: 20px;
}

.header-link:hover{
	color: #9e9e9e;
}

.header-link-dropdown{
	position: absolute;
	background-color: #FFF;
	display:none;
	margin-left: -45%;
	min-width: 150px;
	height: 170px;
	margin-top: 15px;
	box-shadow: 0px 0px 3px 1px rgb(219, 219, 219);
	padding: 6px 0px;
}


.header-link:hover .header-link-dropdown{
	display: block;
}

.header-link-dropdown a{
	padding: 10px 27px;
	text-decoration: none;
	display: block;
	font-size: 12px;
	color: #4b4b4b;
	opacity: 1;
	transition: 0.2s;
}

.header-link-dropdown a:hover{
	color: #000;
	text-decoration: underline;
	font-weight: 600;
}

.header-search-box{
	border: 1px solid #c1c1c1;
	margin-right: 95px;
	display: flex;
	align-items: center;
	height: 26px;
	margin-top: 6px;
	position: relative;
	transition: 0.5s;
}

.header-search-box i{
	position: absolute;
	padding-left: 30px;
	color: #c1c1c1;
}


.header-search-box:focus-within{
	background-color: #666;
	color: #dddddd;
}

header .hrefs a + a{
	margin-left: 12px;
}

.header-search-input{
	width: 110px;
	margin-left: 40px;
	height: 100%;
	padding: 0px;
	padding-left: 10px;
	border: none;
	outline: none;
	transition: 0.5s;
	font-size: 12px;
	color:#000;
	text-decoration: none;
	background-color: rgba(248, 248, 248, 1);
}

.header-search-input:focus{
	background-color: #666;
	color: #dddddd;
}