
html {
    background-color: #eaeaea;
}


.div-wrapper{
    background-color: #eaeaea;
    width: 1440px;

    margin-left: auto;
    margin-right: auto;
}

.div-recipe{
    margin-top: 100px;
    width: 1120px;
    height: 440px;
    
    margin-left: 150px;
    display: flex;    
    background-color: #ffffff;
}

.div-recipe-image{
    width: 520px;
    position: relative;
}

.div-recipe-text{
    width: 600px;
    margin-left: 35px;
}

.div-recipe-photo-icon{
    float: left;
    position: absolute;
    right: 20px;
    top: 0px;
    background-color: rgba(0,0,0, 0.5);
    padding: 15px;
    color: #FFFFFF;

    font-size: 25px;
}

#recipe-text-title{
    font-family: 'Playfair Display', serif;
    font-size: 32px;
    color: #055555;
    margin-top: 30px;
    margin-bottom: 20px;
}

.div-recipe-text-icons{
    display: flex;
    justify-content:space-between;
    font-family: 'Josefin Sans', sans-serif;
    color: #555555;
}


#div-level-time{
    font-size: 18px;
}

.div-recipe-text-icons span{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.div-save-button{
    flex:content;
}

.recipe-save-button{
    background-color: #ababab; /* Green */
    border: solid #c1c1c1 1px;
    font-size: 12px;
    color: black;
    font-family: 'Josefin Sans', sans-serif;

    float: inline-end;
    margin-right: 70px;
    width: 105px;
    height: 25px;  

}

.div-save-button button:hover{
    background-color: #555555;
    font-size: 11px;
}

.div-recipe-text #recipe-text{
    margin-top: 20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    margin-right: 50px;
    overflow-y: scroll;
    height: 265px;
}


.div-recipe-text #recipe-text p{
    margin-top: 5px;
}

